# 依赖与源码
node_modules/
src/
l10n/
**/*.ts
esbuild.js
tsconfig.json
eslint.config.mjs

# 构建文件
**/*.map
out/
*.vsix

# Webview 源资源
media/**
!media/logo.png

# 文档
README.en.md

# 配置与日志
.vscode/
**/*.log
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml

# 系统文件
.DS_Store
